version: 2
jobs:
  build:
    docker:
      # While we're actually running on stretch (with Python 3.5.3), this is the
      # closest matching docker image available in CircleCI. The stretch images
      # all have Python 3.6, which has some syntactic changes.
      - image: python:3.5.4

    working_directory: ~/robot

    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
          - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
      - run: apt-get update -y
      - run: apt-get install -y libcv-dev libopencv-photo-dev libopencv-contrib-dev libusb-1.0.0-dev
      - run: pip3 install git+https://github.com/sourcebots/sb-vision@44356ec0fc4738508d22bf15137bb4429ba3410f
      - run: pip3 install git+https://github.com/sourcebots/robotd@4ae124ba4d75f4be64a2b0bbc3f4abd37c94726f
      - run: pip3 install -r requirements.txt
      - run: pip3 install -r script/linting/requirements.txt
      - run: pip3 install -r script/typing/requirements.txt
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: run tests
          command: python3 -m unittest

      - run: script/typing/check

      # run linting!
      - run: script/linting/lint

      - store_artifacts:
          path: test-reports
          destination: test-reports
